.layout__wrapper{
  box-sizing: border-box;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}


.dashboard{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  position: absolute;
  left: 0;
  top: 0;
  margin: 8vh 3%;
}
.header{
  border:dotted blue 1px;
  border-radius: 4px;
  min-width:75vw;
  min-height: 15vh;
  
}
.header > .headerContainer{
  min-height: 15vh;
  min-width: 100%;
}
.bodyBox{
  border: dotted blue 1px;
  border-radius: 4px;
  min-width:75vw;
  min-height: 50vh;
}
.bodyBox > .bodyBoxContainer{
  min-height: 50vh;
  min-width: 100%;
}
.footer{
  border: dotted blue 1px;
  border-radius: 4px;
  min-width:75vw;
  min-height: 15vh;
}
.footer > .footerContainer{
  min-height: 15vh;
  min-width: 100%;
}

.sideContainer{
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  width: 15vw;
  height: 80vh;
  border: dotted blue 1px;
  border-radius: 4px;
  margin: 10vh 3%;
}
.sideContainer > .itemsSideContainer{
  height: 80vh;
  width: 15vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
}