.dashboard{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  position: absolute;
  left: 0;
  top: 0;
  margin: 8vh 3%;
}
.header{
  border: dashed blue 3px;
  border-radius: 4px;
  min-width:75vw;
  min-height: 15vh;
  
}
.body-box{
  border: dashed blue 3px;
  border-radius: 4px;
  min-width:75vw;
  min-height: 50vh;
}
.footer{
  border: dashed blue 3px;
  border-radius: 4px;
  min-width:75vw;
  min-height: 15vh;
}

.sideContainer{
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  
  min-width: 15vw;
  min-height: 80vh;
  border: red dashed 2px;
  border-radius: 4px;
  margin: 10vh 3%;
}
