*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 600;
  font-size: large;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primary-color: #3A6B88;
  --secondary-color: #F6F6F6;
  --dash-border-color: #3A6B88;
}



body {
  display: flex;
  place-items: center;
  width: 100vw;
  color: var(--primary-color);
  overflow-x: hidden;
}


